html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* Red Nav */
/* .navbar-default {
    background-color: #e74c3c;
    border-color: #c0392b;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
}

.navbar-default .navbar-toggle {
    border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #c0392b;
    }
}*/

/* Purple Nav */
/*
.navbar-default {
    background-color: #9b59b6;
    border-color: #8e44ad;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ecdbff;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ecdbff;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
}

.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
    border-top-color: #ecdbff;
    border-bottom-color: #ecdbff;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ecdbff;
    border-bottom-color: #ecdbff;
}

.navbar-default .navbar-toggle {
    border-color: #8e44ad;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8e44ad;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
        background-color: #8e44ad;
    }
}
*/

/* Green Nav */
/*
.navbar-default {
    background-color: #2ecc71;
    border-color: #27ae60;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #d1ffed;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #d1ffed;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
}

.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}

.navbar-default .navbar-toggle {
    border-color: #27ae60;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #27ae60;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #d1ffed;
        background-color: #27ae60;
    }
}
*/

/* Orange Nav */
/** .navbar-default {
    background-color: #e67e22;
    border-color: #d35400;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffe6d1;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffe6d1;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
}

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
}

.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffe6d1;
    border-bottom-color: #ffe6d1;
}

.navbar-default .navbar-toggle {
    border-color: #d35400;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d35400;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffe6d1;
        background-color: #d35400;
    }
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand img {
    display: inline-block;
    margin-top: -8px;
}
**/

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-35 {
    margin-top: 35px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-right-5 {
    margin-right: 5px;
}

table tr td:last-of-type a {
    margin-right: 2px;
    margin-left: 2px;
}

.font-10 {
    font-size: 10px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.col-xs-1-custom {
    width: 4.5%;
}

#img-main-logo {
    display: inline-block;
    width: 14%;
    margin-top: -12px;
}

#img-main-login {
    display: inline-block;
    width: 14%;
    margin-top: -12px;
    margin-right: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.text-red {
    color: red;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}